<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/stylesR.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>


    <div class = "navbars">
    <ul>
        <li><a href="/" class = "HomeStyle">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li style="float:right"><a class="active" href="#about">About</a></li>
        <li style="float:right; margin-right: 5%;"><a class="UPLOAD" href="#receipt">UPLOAD A RECEIPT</a></li>
    </ul>
    </div>
    
    <center>
       <a>Jebneeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee bi alf lira mn 3nd abou abdo</a>
       <a>Jebne baladie mn 3nd tente zarife</a>
    </center>
  



</body>
</html>